.login-wrapper {
    max-width: 400px;
    width: 100%;
    margin-top: 30px;
    border-radius: 12px;
    background-color: #fff;
  }
 
  .btn-close {
    background: transparent;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
  }
 
  @media (max-width: 576px) {
    .login-wrapper {
      padding: 1.5rem 1rem;
    }
 
    .btn-close {
      font-size: 1.2rem;
    }
  }
 
 