<!-- Features Start -->
<div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5 align-items-center">
        <!-- Left Text and Feature Cards -->
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <h1 class="display-6 mb-4">Few Reasons Why People Choosing Us!</h1>
          <p class="mb-4">
            People choose health insurance for financial protection, peace of mind,
            and access to quality healthcare when it matters most.
          </p>
          <div class="row g-3">
            <div class="col-12 col-sm-6">
              <div class="feature-card h-100">
                <img src="assets/img/icon/icon-06-primary.png" alt="Easy Process">
                <h5>Easy Process</h5>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="feature-card h-100">
                <img src="assets/img/icon/icon-03-primary.png" alt="Fast Delivery">
                <h5>Fast Delivery</h5>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="feature-card h-100">
                <img src="assets/img/icon/icon-04-primary.png" alt="Policy Controlling">
                <h5>Policy Controlling</h5>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="feature-card h-100">
                <img src="assets/img/icon/icon-07-primary.png" alt="Money Saving">
                <h5>Money Saving</h5>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Right Image -->
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="rounded overflow-hidden h-100 position-relative" style="min-height: 400px;">
            <img class="img-fluid w-100 h-100 object-fit-cover" src="assets/img/feature.jpg" alt="Feature Image">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Features End -->
  