<div class="testimonial-section">
   
 
 
 
 
    <h1 class="section-title">Testimonials</h1>
 
    <div class="testimonial-grid">
 
      <div class="testimonial-card">
        <img src="assets/img/testimonial-1.jpg" alt="Client Photo" class="testimonial-img" />
        <br><br><p class="testimonial-text">"When my father needed urgent hospitalization, their quick claim support saved us. Forever grateful!"</p>
        <h4 class="testimonial-name">Aarav Sharma</h4>
        <span class="testimonial-profession">Software Engineer</span>
      </div>
 
      <div class="testimonial-card">
        <img src="assets/img/testimonial-2.jpg" alt="Client Photo" class="testimonial-img" />
        <br><br><p class="testimonial-text">"Affordable premiums with amazing coverage. I feel secure for my whole family."</p>
        <h4 class="testimonial-name">Meera Joshi</h4>
        <span class="testimonial-profession">Teacher</span>
      </div>
 
      <div class="testimonial-card">
        <img src="assets/img/testimonial-3.jpg" alt="Client Photo" class="testimonial-img" />
        <br><br> <p class="testimonial-text">"Thanks to their wellness benefits, I now get yearly health checkups for free."</p>
        <h4 class="testimonial-name">Rohit Verma</h4>
        <span class="testimonial-profession">Stock Trader</span>
      </div>
 
      <div class="testimonial-card">
        <img src="assets/img/testimonial-1.jpg" alt="Client Photo" class="testimonial-img" />
        <br><br><p class="testimonial-text">"Claim process was smooth and cashless. I didn’t have to worry at all during a tough time."</p>
        <h4 class="testimonial-name">Sneha Patel</h4>
        <span class="testimonial-profession">Marketing Manager</span>
      </div>
 
      <div class="testimonial-card">
        <img src="assets/img/testimonial-1.jpg" alt="Client Photo" class="testimonial-img" />
        <br><br><p class="testimonial-text">"I was new to insurance, but their team guided me patiently. Now I feel covered and confident."</p>
        <h4 class="testimonial-name">Nikhil Bhosale</h4>
        <span class="testimonial-profession">Startup Founder</span>
      </div>
 
      <div class="testimonial-card">
        <img src="assets/img/testimonial-1.jpg" alt="Client Photo" class="testimonial-img" />
        <br><br><p class="testimonial-text">"From maternity benefits to emergency care, they have it all. Excellent value for money."</p>
        <h4 class="testimonial-name">Pooja Desai</h4>
        <span class="testimonial-profession">Interior Designer</span>
      </div>
 
    </div>
  </div>
 
 
 